body {
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow: hidden;
}

.main {
    display: flex;
    height: 91vh;
}

.sidebar {
    background-color: black;
    width: 360px;
    border-radius: 1rem; /*16px*/
}

.main-content {
    background-color: #131313;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    margin: 0.5rem;
    margin-left: 0;
    margin-right: 1rem;
    padding-left: 1rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
}

.nav-option {
    line-height: 40px;
    padding: 5px;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option a {
    font-size: 1.25rem;
    margin-left: 1.25rem;
    font-weight: 550;
}

.nav-option i {
    font-size: 1.25rem;
}

.library {
    background-color: #121212;
    height: 71.7vh;
    border-radius: 1rem;
    margin: 0.5rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.8rem;
}

.icons{
    display: flex;
    font-size: 1.25rem;
}

.icons i {
    margin-right: 1rem;
    opacity: 0.7;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #1f1f1f; 
    border-radius: 1rem;
    margin: 0.5rem 0.5rem 1.5rem;
    padding: 0.25rem 1.25rem;
}

.box_p1 {
    font-size: 1rem;
    font-weight: 600;
}

.box_p2 {
    font-size: 0.9rem;
    opacity: 0.9;
    font-weight: 500;
}

.badge {
    background-color: white; 
    border: none;
    border-radius: 100px;
    height: 2rem;
    width: fit-content;
    font-weight: 750;
    text-align: center;
    padding: 0.25rem 1rem;
    margin: 0.7rem 0;
    cursor: pointer;
}

.badge:hover {
    scale: 1.05 ;
}

.sticky-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.sticky-nav-img {
    margin-left: 1rem;
}

.sticky-nav-img img {
    height: 1.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sticky-nav-options .nav-item {
    margin-right: 1rem;
    cursor: pointer;
}

.dark-btn {
    background-color: black;
    color: white;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.card {
    border-radius: 1rem;
    width: 150px;
    padding: 0.7rem;
    margin: 1rem;
    margin-left: 0;
}

.cards h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.card-title {
    font-weight: 600;
    margin: 0.5rem 0;
    cursor: pointer;
}

.card-title:hover {
    text-decoration: underline;
}

.card-info {
    opacity: 0.8;
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

.card:hover {
    background-color: #1f1f1f;
}

.footer {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 95%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.2;
}

.music-player {
    display: flex;
    align-items: center;

}

.album {
    width: 25%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 1rem;
}

.album-pic {
   border-radius: 0.5rem;
   height: 3.5rem;
   margin-right: 1rem;
   cursor: pointer;
}

.disc p{
    line-height: 0.1rem;
    margin-right: 1rem;
    font-size: 0.85rem;
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width: 1120px) {
    .album-dis {
        display: none;
    }
}

.album-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-icon img {
    height: 1.35rem;
    margin-right: 0.51rem;
    opacity: 0.7;
    cursor: pointer;
}

.album-icon img:hover {
    opacity: 1;
}

.playback-bar {
    width: 50%;
}

.player-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-icon3:hover {
    transform: scale(1.07);
}

.player-icon {
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.7;
    cursor: pointer;
}

.player-icon:hover {
    opacity: 1;
}

.progress-bar {
    display: flex;
    justify-content: center;
}

.bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.bar::-webkit-slider-runnable-track {
    background-color: white;
    border-radius: 100px;
    height: 0.25rem;
    color: green;
    margin: 0 0.51rem;
}

.bar::-webkit-slider-thumb {
    margin-top: -6px;
}

.controls {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 2rem;
}

.cont-icon{
    height: 1.1rem;
    cursor: pointer;
    opacity: 0.7;
}

.cont-icon:hover{
    opacity: 1;
}

.cont-bar {
    width: 10rem;
    margin-left: -0.75rem;
}
